.social-media {
    height: 200px;
    width: 30%;
    min-width: 150px;
    background: rgb(0,181,255);
    background: linear-gradient(90deg, #51CCDFFF 0%, rgb(13, 147, 230) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    cursor: pointer;
    transition: all ease .3s;
    box-shadow: rgba(0,181,255, 0.3) 0px 19px 38px, rgba(0,181,255, 0.22) 0px 15px 12px;
    animation-name: anim1;
    animation-duration: 1s;
}

@keyframes anim1 {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

.social-media:hover {
    transform: scale(1.05);
}
.social-media .social-media-logo {
    color: #fff;
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 770px){
    .social-media {
        height: 150px;
    }
}

