.login-form {
    display: grid;
    place-items: center;
}

.login-icon {
    color: #0F95E5FF;
    font-size: 21px;
    position: absolute;
    left: 15px;
}
form h2 {
    color: #fff;
    text-align: center;
}
form {
    display: grid;
    grid-template-columns: 360px;
    gap: 22px;
    position: relative;
    transition: all ease 0.5s;
    animation-name: form-animation;
    animation-duration: 0.7s;
}
@keyframes form-animation {
    from {
        bottom: 300px;
    }
    to {
        bottom: 0px;
    }
}

.form-element {
    display: flex;
    align-items: center;
    position: relative;
}
form input {
    height: 60px;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 0px 0px 0px 45px;
    color: #fff;
    background: #101A34FF;
    transition: all ease 0.5s;
}

form input:focus, select:focus {
    outline: none;
    box-shadow: rgba(0,181,255, 0.5) 0px 1px 38px, rgba(0, 0, 0, 0.25) 0px 15px 12px;
}

form button {
    height: 60px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: rgb(0,181,255);
    background: linear-gradient(90deg, #51CCDFFF 0%, rgb(13, 147, 230) 100%);
    box-shadow: rgba(0,181,255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

form select {
    height: 60px;
    border-radius: 20px;
    border: none;
    background: #101A34FF;
    color: #fff;
    padding: 0px 0px 0px 45px;
    cursor: pointer;
    width: 100%;
    transition: all ease 0.5s;
}

form select option {
    background: #101A34FF;
    color: #fff;
    border: none;
    padding: 15px;
}
form select option:focus {
    background: #101A34FF;
}