@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

body {
  min-height: 100vh;
  width: 100%;
  background: #0A152CFF;
}

.page-data {
  position: relative;
  top: 200px;
}

body::-webkit-scrollbar {
  width: 0.4em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: rgba(0,181,255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
 
body::-webkit-scrollbar-thumb {
  background: rgb(0,181,255);
  background: linear-gradient(90deg, #51CCDFFF 0%, rgb(13, 147, 230) 100%);
  border-radius: 10px;
}

@media screen and (max-width: 770px){
  .page-data {
    top: 150px;
  }
}