.social-medias h1 {
    color: #fff;
    margin: 25px 0px 25px 0px;
    text-transform: capitalize;
}
.medias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}